.m-order-item-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    border-bottom: 2px solid $color-grey-6;

    &--image,
    &--description,
    &--quantity,
    &--price,
    &--remove {
      font-size: 1.6rem;
      font-weight: xd-font-weight('medium');
      text-align: center;
    }

    &--image {
      width: 20%;
    }

    &--description {
      width: 30%;
    }

    &--quantity {
      width: 10%;
    }

    &--price {
      width: 20%;
    }

    &--remove {
      width: 20%;
    }
  }

  &__details {
    width: 100%;
    min-height: 16rem;
    max-height: 34rem;
    padding-bottom: 10px;
    margin-top: 1rem;
    overflow-y: scroll;
    border-bottom: 1px solid $color-base-lightgray;
  }

  &__total {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .a-text {
      padding: 3rem;
      font-size: 3rem;
      font-weight: xd-font-weight('bold');
    }
  }

  &__checkout {
    width: 30%;
    padding: 0 0 5rem;
  }
}
