.cart {
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 5;
  width: 240px;
  height: 340px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  border-radius: 5px;
  box-shadow: rgb(3 102 214 / 30%) 0 0 0 3px;
  @include display-column;

  &__items {
    display: flex;
    flex-direction: column;
    height: 340px;
    overflow-x: hidden;
    overflow-y: auto;

    &__msg {
      margin: 50px auto;
      font-size: 20px;
      color: black;
    }
  }

  &__button {
    @include custom-button;

    width: 100%;
    height: auto;
    padding: 5px;
    background: #192a56;

    &:hover {
      background: #273c75;
    }
  }
}
