$custom__font1: 'Dancing Script', cursive;

#review {
  padding-left: 5px;
}

.productDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding: 2rem;

  &__img {
    width: 50%;
  }

  &__info {
    width: 50%;
    @include display-column;

    &__card {
      width: 100%;

      &__name {
        margin-top: 20px;
        font-family: $custom__font1;
        font-weight: bold;
        text-transform: capitalize;
      }

      &__quantity {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin: 10px 0;

        select {
          width: 150px;
        }

        span {
          width: 80px;
        }
      }

      &__ratings {
        padding: 0.5rem 0;
      }

      &__button {
        @include custom-button;
      }

      &__buttonWait {
        position: relative;
        width: calc(100% - 30px);
        height: 40px;
        margin: 15px;
        font-size: 20px;
        color: #ffffff;
        background: #9980fa;
        border: 0;
        border-radius: 5px;
        outline: 0;

        span {
          visibility: hidden;
          opacity: 0;
        }

        &:focus {
          border: 0;
          outline: 0;
        }

        @include custom-loading-animation;
      }
    }
  }
}

.review {
  width: 65%;

  &__user {
    font-size: 0.8rem;
    color: grey;
  }
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;

  &__img {
    width: calc(100% - 60%);
    height: auto;
    cursor: pointer;
  }
}

@include rating;
