.checkout {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100px;
  padding: 15px 0;
  font-size: 20px;
  border-bottom: 1px solid darkgrey;

  &__image {
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name,
  &__quantity,
  &__price {
    width: 23%;
  }

  &__quantity {
    display: flex;
    padding-left: 20px;
  }

  &__arrow {
    cursor: pointer;
  }

  &__value {
    margin: 0 10px;
  }

  &__removeButton {
    padding-left: 12px;
    cursor: pointer;
  }
}

.checkoutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  min-height: 70vh;
  margin: 50px auto 0;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid darkgrey;

    .header-block {
      width: 23%;
      font-weight: bold;
      text-transform: capitalize;

      &:last-child {
        width: 8%;
      }
    }
  }

  &__total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 30px;
  }

  &__button {
    @include custom-button;

    width: 25%;
  }
}
