@import "./mixins.module";

$custom__font1: "Dancing Script", cursive;
$custom__font2: "Kanit", sans-serif;

.container {
  padding: 0 0.5rem;
  @include display_column;

  &__heading {
    margin-top: 5%;
    width: 100%;
    color: #009432;
    font-family: $custom__font1;
  }

  &__search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-family: $custom__font1;
      font-weight: bolder;
      font-size: 3rem;
      padding: 10px;
      margin-left: 20px;
    }
  }

  &__row {
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    @include display_row;

    @include sp() {
      flex-direction: column;
    }
  }
}

.pagination {
  @include display_row;
  margin-top: 30px;
}

.alert {
  color: #fff;
  height: 40px;
  width: 50%;
  background: #ea2027;
  margin-top: 20px;
  transform: translate(0%, 10%);
  @include display_row;
}
