@import '../../styles/02-tools/mixins';

$custom__font1: 'Dancing Script', cursive;
$custom__font2: 'Kanit', sans-serif;

.createnew {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: minmax(50%, 50%);
    height: auto;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px, rgb(0 0 0 / 30%) 0 30px 60px -30px,
      rgb(10 37 64 / 35%) 0 -2px 6px 0 inset;

    &__header {
      font-family: $custom__font1;
    }

    &__name,
    &__price,
    &__description,
    &__image {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 90%;

      &__preview {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10px;

        &__size {
          width: 50px;
          height: 50px;
          padding: 2px;
        }
      }
    }
  }
}

.button__create {
  margin: 15px;
  @include custom-button;

  span {
    text-transform: capitalize;
  }
}

.button__wait {
  position: relative;
  width: calc(100% - 30px);
  height: 40px;
  margin: 15px;
  font-size: 20px;
  color: #ffffff;
  background: #9980fa;
  border: 0;
  border-radius: 5px;
  outline: 0;

  span {
    visibility: hidden;
    opacity: 0;
  }

  @include custom-loading-animation;
}
