$custom__font1: 'Dancing Script', cursive;
$custom__font2: 'Kanit', sans-serif;

.container {
  padding: 0 0.5rem;
  @include display-column;

  &__heading {
    width: 100%;
    margin-top: 5%;
    font-family: $custom__font1;
    color: #009432;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    p {
      padding: 10px;
      margin-left: 20px;
      font-family: $custom__font1;
      font-size: 3rem;
      font-weight: bolder;
    }
  }

  &__row {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    @include display-row;

    @include sp {
      flex-direction: column;
    }
  }
}

.pagination {
  @include display-row;

  margin-top: 30px;
}

.alert {
  width: 50%;
  height: 40px;
  margin-top: 20px;
  color: #ffffff;
  background: #ea2027;
  transform: translate(0%, 10%);
  @include display-row;
}
