$custom__font1: 'Dancing Script', cursive;
$custom__font2: 'Kanit', sans-serif;

.new__password {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    height: auto;
    margin-top: 50px;
    border: solid #bdbdbd 1px;
    border-radius: 10px;
    box-shadow: 0 0 32px rgb(16 194 207 / 40%);

    &__header {
      font-family: $custom__font1;
    }

    &__pass,
    &__confirmPass {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 90%;
    }
  }
}

.button__setPass {
  margin: 15px;
  @include custom-button;

  span {
    text-transform: capitalize;
  }
}

.button__wait {
  position: relative;
  width: calc(100% - 30px);
  height: 40px;
  margin: 15px;
  font-size: 20px;
  color: #ffffff;
  background: #9980fa;
  border: 0;
  border-radius: 5px;
  outline: 0;

  span {
    visibility: hidden;
    opacity: 0;
  }

  @include custom-loading-animation;
}
