.a-button {
  $root: &;

  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  padding: 0 20px;
  overflow: hidden;
  font-size: 12px;
  font-weight: xd-font-weight('medium');
  line-height: 24px;
  color: $color-primary-grey;
  cursor: pointer;
  background: $color-base-white;
  border: 0;
  border-radius: 20px;
  outline: 0;
  box-shadow: 0 4px 16px 0 rgba($color-base-black, 5%);
  transition: box-shadow 0.25s;

  &--size {
    &-large {
      min-width: 20rem;
      max-width: 30rem;
    }

    &-extra-large {
      min-width: 25rem;
      max-width: 40rem;
    }

    &-small {
      min-width: 7rem;
      max-width: 10rem;
    }

    &-extra-small {
      min-width: 5rem;
      max-width: 10rem;
    }
  }

  &:active {
    background: $color-base-lavender;
    box-shadow: none;
  }

  &:focus {
    border: 0;
    outline: 0;
  }

  &--icon {
    display: flex;
    justify-content: space-between;
  }

  &--primary {
    color: $color-text-white !important;
    background: $color-primary-purple-gradient;
    background: $color-primary-purple-gradient-ms;

    &:hover {
      background: $color-primary-purple;
    }

    &:active {
      background: $color-base-darkmagenta;
    }
  }

  &--secondary {
    color: $color-primary-purple;
    background: $color-secondary-purple-v-gradient;
    background: $color-secondary-purple-v-gradient-ms;

    &:hover {
      background: $color-base-mistyrose;
    }

    &:active {
      background: $color-base-thistle;
    }
  }

  &--third {
    color: $color-text-white;
    background: $color-primary-grey-gradient;
    background: $color-primary-grey-gradient-ms;

    &:hover {
      color: $color-text-white;
      background: $color-secondary-grey;
    }

    &:active {
      background: $color-base-dimgray;
    }
  }

  &--fourth {
    height: 40px;
    line-height: 20px;
    color: $color-text-white;
    background: $color-base-dimgray;
    border: 1px solid $color-line-light-gray;

    &:hover {
      color: $color-text-white;
      background: $color-primary-purple;
    }
  }

  &--violet {
    color: $color-base-white;
    background: $color-primary-violet-dark;
    border-radius: 10px;
  }

  &--animated {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: '';
      background: $color-primary-violet;
      transition: transform 0.5s ease-in;
      transform: translateX(-100%);
      transform-origin: left bottom;
    }

    &:hover {
      &:before {
        transform: translateX(0);
      }
    }
  }

  &--upload {
    height: 48px;
    font-size: 16px;
    color: $color-primary-purple;
    background: $color-base-white-gradient;
    background: $color-base-white-gradient-ms;
    border-radius: 28px;

    &:hover {
      background: $color-base-snow;
    }

    &:active {
      background: $color-base-linen;
    }
  }

  &--transparent {
    color: $color-primary-purple;
    background: transparent;
    box-shadow: none;

    &:hover {
      color: $color-primary-purple;
      background: transparent;
    }

    &:active {
      background: transparent;
    }
  }

  &--red {
    color: $color-white;
    background: $color-primary-red;
    border: none;
    border-radius: 5px;
    outline: none;

    &:hover {
      background: rgba($color-primary-red, 0.9);
    }
  }

  &--text {
    height: auto;
    padding: 0;
    font-size: 16px;
    color: $color-text-black;
    text-align: left;
    background: transparent;
    border: none;
    box-shadow: none;

    &:hover {
      background: transparent;
    }

    @include sp {
      font-size: 12px;
    }
  }

  &--icon-text {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 3.5rem;
    padding: 5px;
    font-size: 15px;
    font-weight: medium;
    line-height: 24px;
    color: $color-text-white;
    background-color: $color-primary-purple;
    border-radius: 5px;
    box-shadow: none;

    .a-icon--login {
      margin-left: 0.8rem;
    }

    &:hover {
      color: $color-text-white;
      text-decoration: none;
      background: rgba($color-primary-purple, 0.8);
    }

    #{$root}__label {
      margin-left: 4px;
    }
  }

  &--success {
    height: 3.5rem;
    font-size: 15px;
    font-weight: medium;
    line-height: 24px;
    color: $color-text-white;
    background: $color-ufo-green;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: $color-cornflower-blue;
      box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
      transform: translateY(-0.5px);
    }
  }

  &--indigo {
    height: 3.5rem;
    padding: 5px;
    font-size: 15px;
    font-weight: medium;
    line-height: 24px;
    color: $color-text-white;
    background: $color-space-cadet;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: $color-indigo;
    }
  }

  &--loading {
    height: 3.5rem;
    padding: 5px;
    font-size: 15px;
    font-weight: medium;
    line-height: 24px;
    color: $color-text-white;
    background: $color-primary-violet;
    border-radius: 5px;

    > span {
      visibility: hidden;
      opacity: 0;
    }

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 20px;
      margin: auto;
      content: '';
      border: 4px solid transparent;
      border-top-color: $color-base-white;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
    }
  }

  @include sp {
    &--square {
      height: 56px;
    }

    &--large {
      height: 48px;
    }

    &--huge {
      height: 56px;
    }

    &--postal {
      height: 44px;
      border-radius: 22px;
    }

    &--upload {
      height: 48px;
      border-radius: 28px;
    }
  }
}
