.a-user-info {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__img {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;

    img {
      border-radius: 50%;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    > span {
      min-width: 90px;
      max-width: 150px;
      overflow: hidden;
      font-size: 1.2rem;
      font-weight: xd-font-weight('medium');
      color: $color-text-gainsboro;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
